<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="~/lib/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/lib/font-awesome/css/all.min.css" rel="stylesheet" />
</head>
<body>
    <header class="bg-dark text-white p-2">
        <h1 class="navbar-brand m-lg-2">Matt Perry's Online Bookstore</h1>
        <p>Full of Professor Hilton's favorite books</p>
        <div>
            <vc:cart-summary />
        </div>
    </header>
    <div class="row m-1 p-1">
        <div>
            @RenderBody()
        </div>
    </div>
    @*BOOTSTRAP ADDITION #1*@
    @*I created a bootstrap footer to make it actually look a little more professional*@
    <footer class="bg-light text-center text-lg-start">
        
        <div class="container p-4">
            
            <div class="row">
                
                <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
                    <h5 class="text-uppercase">Links</h5>

                    <ul class="list-unstyled mb-0">
                        <li>
                            <a href="#!" class="text-dark">Some Books</a>
                        </li>
                        <li>
                            <a href="#!" class="text-dark">Some More Books</a>
                        </li>
                    </ul>
                </div>
            </div>

        </div>

        <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
            2022 Matt Perry
        </div>

    </footer>
    <script src="~/lib/js/bootstrap.min.js"></script>
    <script src="~/lib/js/script.js"></script>
    <script src="~/lib/font-awesome/js/all.min.js"></script>
</body>
</html>
