@page
@model BookStore.Pages.ConfirmationModel
@{
}

<div class="text-center">
    <h2>Thanks! Your book order has been received!</h2>
    <a asp-controller="Home" class="btn btn-primary">Return Home</a>
</div>