@{
    ViewData["Title"] = "Book List";
}

@model BooksViewModel

<h1>Online Bookstore</h1>

<table class="table table-responsive table-striped table-bordered">
    <thead class="thead-dark">
        <tr>
            <th>Title</th>
            <th>Author</th>
            <th>Publisher</th>
            <th>ISBN</th>
            <th>Classification</th>
            <th>Category</th>
            <th>Page Count</th>
            <th>Price</th>
            <th>Add to Cart</th>
        </tr>
    </thead>
    <tbody>
        @foreach (Book b in Model.Books)
        {
            <partial name="BookSummary" model="b" />
        }
    </tbody>
</table>

<div page-model="@Model.PageInfo" page-action="Index" page-class="btn" page-class-normal="btn-outline-dark" page-classes-enabled="true" page-class-selected="btn-primary" class="btn-group pull-right m-1"></div>