@{
    Layout = null;
}

@model LoginModel

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Bookstore Login</title>
    <meta name="viewport" content="width=device-width" />
    <link href="~/lib/css/bootstrap.min.css" rel="stylesheet" />
</head>
<body>
    @*BOOTSTRAP ADDITION #1
    Added a jumbotron to span the login page*@
    <div class="jumbotron bg-dark text-white p-2">
        <h1 class="display-3">Bookstore</h1>
        <p class="lead">
            Login for admin access to modifying books and shipping orders
        </p>
    </div>

    <div class="m-1 p-1">
        <div class="text-danger" asp-validation-summary="All"></div>
        <form asp-controller="Account" asp-action="Login" method="post">
            <div class="form-group">
                <label asp-for="Username">Username</label>
                <input asp-for="Username" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="Password">Password</label>
                <input asp-for="Password" type="password" class="form-control" />
            </div>

            <button class="btn btn-primary" type="submit">Log In</button>

            <input type="hidden" asp-for="ReturnUrl" />
        </form>
    </div>
</body>
</html>