@{
}

@model Order

<h2>Check out now</h2>
<p>Please enter your details, and your books will arrive in no time!</p>

<form asp-controller="Order" asp-action="Checkout" method="post">
    
    <div asp-validation-summary="All" class="text-danger"></div>

    <h4>Ship To:</h4>
    <div class="form-group">
        <label asp-for="Name">Name:</label><input type="text" asp-for="Name" class="form-control" />
    </div>

    <h4>Address:</h4>
    <div class="form-group">
        <label asp-for="AddressLine1">Line 1:</label><input type="text" asp-for="AddressLine1" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="AddressLine2">Line 2:</label><input type="text" asp-for="AddressLine2" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="AddressLine3">Line 3:</label><input type="text" asp-for="AddressLine3" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="City">City:</label><input type="text" asp-for="City" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="State">State:</label><input type="text" asp-for="State" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="Zip">Zip Code:</label><input type="text" asp-for="Zip" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="Country">Country:</label><input type="text" asp-for="Country" class="form-control" />
    </div>
    <div class="float-end">
        <button type="submit" class="btn btn-primary">Submit Order</button>
    </div>
</form>