<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="~/lib/css/bootstrap.min.css" rel="stylesheet" />
</head>
<body>
    <div class="container">
        <br />
        <header>
            <h1>Matt Perry's Online Bookstore</h1>
            <p>Full of Professor Hilton's favorite movies</p>
        </header>
        <div>
            @RenderBody()
        </div>
        <footer>
            <div>Project by Matt Perry</div>
        </footer>
    </div>
    <script src="~/lib/js/bootstrap.min.js"></script>
</body>
</html>
